@charset "UTF-8";
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url(../fonts/Gilroy-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Gilroy;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Gilroy;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
.fp-init body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
[data-fp] {
  min-height: 100svh
}
.fp-init [data-fp] {
  z-index: 1;
  touch-action: none;
  position: relative;
  overflow: hidden
}
.fp-switching [data-fp-section] {
  touch-action: none
}
.fp-init [data-fp-section] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto
}
.fp-init .cards-mode [data-fp-section],
.fp-init .slider-mode [data-fp-section] {
  transition: -webkit-transform .7s cubic-bezier(.55,.085,0,.99) 0s;
  transition: transform .7s cubic-bezier(.55,.085,0,.99) 0s;
  transition: transform .7s cubic-bezier(.55,.085,0,.99) 0s,-webkit-transform .7s cubic-bezier(.55,.085,0,.99) 0s
}
.fp-init .fade-mode [data-fp-section] {
  transition: opacity .5s ease-in-out 0s,visibility .5s ease-in-out 0s
}
.fp-bullets {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  right: 2.5rem;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 2;
  gap: .625rem
}
.fp-bullets .fp-bullet {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  flex: 0 0 1.25rem;
  border-radius: .625rem;
  background-color: #100c46;
  box-shadow: 0 0 .1875rem #6257fe,0 0 1.875rem rgba(255,255,255,.8);
  border: .0625rem solid #fff;
  opacity: .6;
  transition: opacity .4s ease-in-out 0s,background-color .4s ease-in-out 0s,box-shadow .4s ease-in-out 0s,-webkit-transform .4s ease-in-out 0s;
  transition: transform .4s ease-in-out 0s,opacity .4s ease-in-out 0s,background-color .4s ease-in-out 0s,box-shadow .4s ease-in-out 0s;
  transition: transform .4s ease-in-out 0s,opacity .4s ease-in-out 0s,background-color .4s ease-in-out 0s,box-shadow .4s ease-in-out 0s,-webkit-transform .4s ease-in-out 0s
}
.fp-bullets .fp-bullet-active {
  opacity: 1;
  background-color: #6257fe;
  -webkit-transform: translate3D(-.3125rem,-.125rem,0);
  transform: translate3D(-.3125rem,-.125rem,0);
  box-shadow: .3125rem .125rem .1875rem #100c46,0 0 1.875rem rgba(255,255,255,.8)
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.section-wrapper {
  overflow: hidden;
  position: absolute;
  inset: 0;
  z-index: 0
}
.title-main {
  width: 100%;
  text-align: center;
  font-weight: 900;
  text-shadow: -4px 8px 29px rgba(0,0,0,.41);
  line-height: .7;
  color: #fff;
  text-shadow: -8px -8px 0 #692631,-8px -7px 0 #692631,-8px -6px 0 #692631,-8px -5px 0 #692631,-8px -4px 0 #692631,-8px -3px 0 #692631,-8px -2px 0 #692631,-8px -1px 0 #692631,-8px 0 0 #692631,-8px 1px 0 #692631,-8px 2px 0 #692631,-8px 3px 0 #692631,-8px 4px 0 #692631,-8px 5px 0 #692631,-8px 6px 0 #692631,-8px 7px 0 #692631,-8px 8px 0 #692631,-7px -8px 0 #692631,-7px -7px 0 #692631,-7px -6px 0 #692631,-7px -5px 0 #692631,-7px -4px 0 #692631,-7px -3px 0 #692631,-7px -2px 0 #692631,-7px -1px 0 #692631,-7px 0 0 #692631,-7px 1px 0 #692631,-7px 2px 0 #692631,-7px 3px 0 #692631,-7px 4px 0 #692631,-7px 5px 0 #692631,-7px 6px 0 #692631,-7px 7px 0 #692631,-7px 8px 0 #692631,-6px -8px 0 #692631,-6px -7px 0 #692631,-6px -6px 0 #692631,-6px -5px 0 #692631,-6px -4px 0 #692631,-6px -3px 0 #692631,-6px -2px 0 #692631,-6px -1px 0 #692631,-6px 0 0 #692631,-6px 1px 0 #692631,-6px 2px 0 #692631,-6px 3px 0 #692631,-6px 4px 0 #692631,-6px 5px 0 #692631,-6px 6px 0 #692631,-6px 7px 0 #692631,-6px 8px 0 #692631,-5px -8px 0 #692631,-5px -7px 0 #692631,-5px -6px 0 #692631,-5px -5px 0 #692631,-5px -4px 0 #692631,-5px -3px 0 #692631,-5px -2px 0 #692631,-5px -1px 0 #692631,-5px 0 0 #692631,-5px 1px 0 #692631,-5px 2px 0 #692631,-5px 3px 0 #692631,-5px 4px 0 #692631,-5px 5px 0 #692631,-5px 6px 0 #692631,-5px 7px 0 #692631,-5px 8px 0 #692631,-4px -8px 0 #692631,-4px -7px 0 #692631,-4px -6px 0 #692631,-4px -5px 0 #692631,-4px -4px 0 #692631,-4px -3px 0 #692631,-4px -2px 0 #692631,-4px -1px 0 #692631,-4px 0 0 #692631,-4px 1px 0 #692631,-4px 2px 0 #692631,-4px 3px 0 #692631,-4px 4px 0 #692631,-4px 5px 0 #692631,-4px 6px 0 #692631,-4px 7px 0 #692631,-4px 8px 0 #692631,-3px -8px 0 #692631,-3px -7px 0 #692631,-3px -6px 0 #692631,-3px -5px 0 #692631,-3px -4px 0 #692631,-3px -3px 0 #692631,-3px -2px 0 #692631,-3px -1px 0 #692631,-3px 0 0 #692631,-3px 1px 0 #692631,-3px 2px 0 #692631,-3px 3px 0 #692631,-3px 4px 0 #692631,-3px 5px 0 #692631,-3px 6px 0 #692631,-3px 7px 0 #692631,-3px 8px 0 #692631,-2px -8px 0 #692631,-2px -7px 0 #692631,-2px -6px 0 #692631,-2px -5px 0 #692631,-2px -4px 0 #692631,-2px -3px 0 #692631,-2px -2px 0 #692631,-2px -1px 0 #692631,-2px 0 0 #692631,-2px 1px 0 #692631,-2px 2px 0 #692631,-2px 3px 0 #692631,-2px 4px 0 #692631,-2px 5px 0 #692631,-2px 6px 0 #692631,-2px 7px 0 #692631,-2px 8px 0 #692631,-1px -8px 0 #692631,-1px -7px 0 #692631,-1px -6px 0 #692631,-1px -5px 0 #692631,-1px -4px 0 #692631,-1px -3px 0 #692631,-1px -2px 0 #692631,-1px -1px 0 #692631,-1px 0 0 #692631,-1px 1px 0 #692631,-1px 2px 0 #692631,-1px 3px 0 #692631,-1px 4px 0 #692631,-1px 5px 0 #692631,-1px 6px 0 #692631,-1px 7px 0 #692631,-1px 8px 0 #692631,0 -8px 0 #692631,0 -7px 0 #692631,0 -6px 0 #692631,0 -5px 0 #692631,0 -4px 0 #692631,0 -3px 0 #692631,0 -2px 0 #692631,0 -1px 0 #692631,0 0 0 #692631,0 1px 0 #692631,0 2px 0 #692631,0 3px 0 #692631,0 4px 0 #692631,0 5px 0 #692631,0 6px 0 #692631,0 7px 0 #692631,0 8px 0 #692631,1px -8px 0 #692631,1px -7px 0 #692631,1px -6px 0 #692631,1px -5px 0 #692631,1px -4px 0 #692631,1px -3px 0 #692631,1px -2px 0 #692631,1px -1px 0 #692631,1px 0 0 #692631,1px 1px 0 #692631,1px 2px 0 #692631,1px 3px 0 #692631,1px 4px 0 #692631,1px 5px 0 #692631,1px 6px 0 #692631,1px 7px 0 #692631,1px 8px 0 #692631,2px -8px 0 #692631,2px -7px 0 #692631,2px -6px 0 #692631,2px -5px 0 #692631,2px -4px 0 #692631,2px -3px 0 #692631,2px -2px 0 #692631,2px -1px 0 #692631,2px 0 0 #692631,2px 1px 0 #692631,2px 2px 0 #692631,2px 3px 0 #692631,2px 4px 0 #692631,2px 5px 0 #692631,2px 6px 0 #692631,2px 7px 0 #692631,2px 8px 0 #692631,3px -8px 0 #692631,3px -7px 0 #692631,3px -6px 0 #692631,3px -5px 0 #692631,3px -4px 0 #692631,3px -3px 0 #692631,3px -2px 0 #692631,3px -1px 0 #692631,3px 0 0 #692631,3px 1px 0 #692631,3px 2px 0 #692631,3px 3px 0 #692631,3px 4px 0 #692631,3px 5px 0 #692631,3px 6px 0 #692631,3px 7px 0 #692631,3px 8px 0 #692631,4px -8px 0 #692631,4px -7px 0 #692631,4px -6px 0 #692631,4px -5px 0 #692631,4px -4px 0 #692631,4px -3px 0 #692631,4px -2px 0 #692631,4px -1px 0 #692631,4px 0 0 #692631,4px 1px 0 #692631,4px 2px 0 #692631,4px 3px 0 #692631,4px 4px 0 #692631,4px 5px 0 #692631,4px 6px 0 #692631,4px 7px 0 #692631,4px 8px 0 #692631,5px -8px 0 #692631,5px -7px 0 #692631,5px -6px 0 #692631,5px -5px 0 #692631,5px -4px 0 #692631,5px -3px 0 #692631,5px -2px 0 #692631,5px -1px 0 #692631,5px 0 0 #692631,5px 1px 0 #692631,5px 2px 0 #692631,5px 3px 0 #692631,5px 4px 0 #692631,5px 5px 0 #692631,5px 6px 0 #692631,5px 7px 0 #692631,5px 8px 0 #692631,6px -8px 0 #692631,6px -7px 0 #692631,6px -6px 0 #692631,6px -5px 0 #692631,6px -4px 0 #692631,6px -3px 0 #692631,6px -2px 0 #692631,6px -1px 0 #692631,6px 0 0 #692631,6px 1px 0 #692631,6px 2px 0 #692631,6px 3px 0 #692631,6px 4px 0 #692631,6px 5px 0 #692631,6px 6px 0 #692631,6px 7px 0 #692631,6px 8px 0 #692631,7px -8px 0 #692631,7px -7px 0 #692631,7px -6px 0 #692631,7px -5px 0 #692631,7px -4px 0 #692631,7px -3px 0 #692631,7px -2px 0 #692631,7px -1px 0 #692631,7px 0 0 #692631,7px 1px 0 #692631,7px 2px 0 #692631,7px 3px 0 #692631,7px 4px 0 #692631,7px 5px 0 #692631,7px 6px 0 #692631,7px 7px 0 #692631,7px 8px 0 #692631,8px -8px 0 #692631,8px -7px 0 #692631,8px -6px 0 #692631,8px -5px 0 #692631,8px -4px 0 #692631,8px -3px 0 #692631,8px -2px 0 #692631,8px -1px 0 #692631,8px 0 0 #692631,8px 1px 0 #692631,8px 2px 0 #692631,8px 3px 0 #692631,8px 4px 0 #692631,8px 5px 0 #692631,8px 6px 0 #692631,8px 7px 0 #692631,8px 8px 0 #692631
}
.title-main span {
  display: inline-block
}
@-webkit-keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px)
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px)
  }
}
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px)
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px)
  }
}
.btn-next {
  position: absolute;
  bottom: 1.875rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
  transition: all .8s ease 0s;
  opacity: 0;
  z-index: 5
}
.btn-next__arrow {
  pointer-events: all;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 5.01408px 5.01408px 0 rgba(0,0,0,.59);
  display: flex;
  align-items: center;
  justify-content: center
}
.btn-next__icon {
  padding-top: .3125rem;
  height: auto
}
.logo {
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  z-index: 15;
  height: auto;
  transition: opacity .3s ease,left .3s ease,-webkit-transform .3s ease;
  transition: opacity .3s ease,left .3s ease,transform .3s ease;
  transition: opacity .3s ease,left .3s ease,transform .3s ease,-webkit-transform .3s ease;
  opacity: 0;
  pointer-events: none
}
.loaded .logo {
  opacity: 1;
  transition-delay: .6s
}
.section-01__cat {
  position: absolute;
  bottom: 0;
  z-index: 5;
  -o-object-position: bottom;
  object-position: bottom;
  opacity: 0;
  transition: opacity .3s ease
}
.loaded .section-01__cat {
  opacity: 1;
  transition-delay: .3s
}
.section-01__hearts {
  position: absolute;
  bottom: 0;
  right: 20%;
  z-index: 3;
  opacity: 0;
  transition: opacity .3s ease
}
.loaded .section-01__hearts {
  opacity: 1;
  transition-delay: .4s
}
.loaded .section-01__button {
  opacity: 1;
  transition-delay: 1.7s
}
.loaded .section-01__btn {
  -webkit-animation: bounce 2.5s ease 1.7s infinite;
  animation: bounce 2.5s ease 1.7s infinite
}
.section-02 .section-wrapper {
  background-image: url(../img/bg-02.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}
.section-02__packs {
  position: absolute;
  z-index: 5;
  inset: 0;
  display: grid
}
.section-02__pack-02 .section-02__ellipse {
  right: -20%;
  bottom: -40%
}
.section-02__pack-01,
.section-02__pack-02 {
  position: relative;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content
}
.section-02__pack {
  position: relative;
  z-index: 1
}
.fp-section-1 .section-02__pack.pack-01 {
  -webkit-animation: pulse 2.5s 0s infinite;
  animation: pulse 2.5s 0s infinite
}
.fp-section-1 .section-02__pack.pack-02 {
  -webkit-animation: pulse 2.5s .2s infinite;
  animation: pulse 2.5s .2s infinite
}
.section-02__ellipse {
  position: absolute
}
.section-02__title {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}
.fp-section-1 .section-02__button {
  opacity: 1;
  transition-delay: 1s
}
.fp-section-1 .section-02__btn {
  -webkit-animation: bounce 2.5s ease 1s infinite;
  animation: bounce 2.5s ease 1s infinite
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(.95);
    transform: scale(.95)
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  100% {
    -webkit-transform: scale(.95);
    transform: scale(.95)
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(.95);
    transform: scale(.95)
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  100% {
    -webkit-transform: scale(.95);
    transform: scale(.95)
  }
}
.section-03 .section-wrapper {
  background-image: url(../img/bg-03.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-top: 10vh;
  padding-bottom: 9.375rem;
  padding-left: .75rem;
  padding-right: .75rem
}
.section-03 .seeds-container {
  overflow: hidden;
  position: absolute;
  inset: 0;
  z-index: 0
}
.section-03__sunflower {
  position: absolute;
  -webkit-transform-origin: center;
  transform-origin: center;
  pointer-events: none;
  z-index: 0;
  width: 100%;
  height: auto;
  opacity: 0
}
.section-03__video {
  position: relative;
  z-index: 4;
  width: 100%;
  height: 100%;
  max-height: 70vh;
  display: grid;
  margin-left: auto;
  margin-right: auto
}
.section-03__video::after,
.section-03__video::before {
  content: "";
  position: absolute;
  z-index: 4;
  pointer-events: none;
  border: solid transparent;
  pointer-events: none
}
.section-03__video::before {
  inset: 0;
  border-color: #fff
}
.section-03__video::after {
  inset: 0;
  border-color: #b0c8f2
}
.section-03__video .video-youtube__body {
  display: grid;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  position: relative;
  z-index: 1;
  background-color: #000
}
.section-03__video .video-youtube__body iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.section-03__video .video-youtube__button {
  overflow: hidden;
  position: relative;
  z-index: 0
}
.section-03__ic {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: auto;
  pointer-events: none
}
.section-03__social {
  position: absolute;
  z-index: 5;
  display: flex;
  align-items: center
}
.section-03__link {
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease,-webkit-transform .3s ease
}
.section-03__link svg .svg-bg {
  transition: fill .3s ease
}
.seed-slow {
  -webkit-animation: fallingAnimationSlow 10s linear infinite;
  animation: fallingAnimationSlow 10s linear infinite
}
.seed-medium {
  -webkit-animation: fallingAnimationMedium 10s linear 3s infinite;
  animation: fallingAnimationMedium 10s linear 3s infinite
}
.seed-fast {
  -webkit-animation: fallingAnimationFast 10s linear 6s infinite;
  animation: fallingAnimationFast 10s linear 6s infinite
}
@-webkit-keyframes fallingAnimationSlow {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%) rotate(0);
    transform: translateY(-100%) rotate(0)
  }
  5% {
    opacity: 1
  }
  100% {
    -webkit-transform: translateY(calc(100vh + 100%)) rotate(90deg);
    transform: translateY(calc(100vh + 100%)) rotate(90deg)
  }
}
@keyframes fallingAnimationSlow {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%) rotate(0);
    transform: translateY(-100%) rotate(0)
  }
  5% {
    opacity: 1
  }
  100% {
    -webkit-transform: translateY(calc(100vh + 100%)) rotate(90deg);
    transform: translateY(calc(100vh + 100%)) rotate(90deg)
  }
}
@-webkit-keyframes fallingAnimationMedium {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%) rotate(45deg);
    transform: translateY(-100%) rotate(45deg)
  }
  5% {
    opacity: 1
  }
  100% {
    -webkit-transform: translateY(calc(100vh + 100%)) rotate(280deg);
    transform: translateY(calc(100vh + 100%)) rotate(280deg)
  }
}
@keyframes fallingAnimationMedium {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%) rotate(45deg);
    transform: translateY(-100%) rotate(45deg)
  }
  5% {
    opacity: 1
  }
  100% {
    -webkit-transform: translateY(calc(100vh + 100%)) rotate(280deg);
    transform: translateY(calc(100vh + 100%)) rotate(280deg)
  }
}
@-webkit-keyframes fallingAnimationFast {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%) rotate(-90deg);
    transform: translateY(-100%) rotate(-90deg)
  }
  5% {
    opacity: 1
  }
  100% {
    -webkit-transform: translateY(calc(100vh + 100%)) rotate(-180deg);
    transform: translateY(calc(100vh + 100%)) rotate(-180deg)
  }
}
@keyframes fallingAnimationFast {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%) rotate(-90deg);
    transform: translateY(-100%) rotate(-90deg)
  }
  5% {
    opacity: 1
  }
  100% {
    -webkit-transform: translateY(calc(100vh + 100%)) rotate(-180deg);
    transform: translateY(calc(100vh + 100%)) rotate(-180deg)
  }
}
@media (min-width:53.18625em) {
  .fp-section-2 .logo {
    top: unset!important;
    bottom: 1.25rem
  }
  .section-01 .section-wrapper {
    background-image: url(../img/bg.webp);
    background-repeat: repeat;
    background-size: 18.75rem 100%
  }
  .section-01__tv {
    max-width: 60%;
    padding-top: 6.25rem;
    padding-bottom: 1.25rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0)
  }
  .section-01__table {
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: bottom;
    object-position: bottom
  }
  .section-01__cat {
    right: 0
  }
  .section-01__sanych {
    display: none
  }
  .section-02__packs {
    margin: 0 auto;
    grid-template-columns: auto auto
  }
  .section-02__pack-01 .section-02__ellipse {
    left: -20%;
    bottom: -40%
  }
  .section-03__social {
    right: 2.5rem
  }
}
@media (min-width:68.81125em) {
  .section-03__ic {
    top: -6%;
    left: -6%
  }
}
@media (min-width:100.06125em) {
  .section-02__packs {
    padding: 5rem 0 5rem
  }
}
@media (min-width:120em) {
  .title-main {
    font-size: 3rem
  }
  .title-main span {
    font-size: 6.4375rem
  }
  .btn-next__arrow {
    width: 5.5625rem
  }
  .btn-next__arrow {
    height: 5.5625rem
  }
  .btn-next__icon {
    width: 3.5rem
  }
  .logo {
    top: 3.125rem
  }
  .logo {
    width: 18.75rem
  }
  .section-01__cat {
    max-width: 42.375rem
  }
  .section-01__hearts {
    max-width: 13.75rem
  }
  .section-03__sunflower {
    max-width: 7.5rem
  }
  .section-03__video {
    max-width: 68.75rem
  }
  .section-03__video::after,
  .section-03__video::before {
    border-width: 1.625rem
  }
  .section-03__video::before {
    border-radius: 7.75rem
  }
  .section-03__video::after {
    border-radius: 5.9375rem
  }
  .section-03__video::after {
    margin: 1.625rem
  }
  .section-03__video .video-youtube__body {
    margin: 3.25rem
  }
  .section-03__ic {
    max-width: 15.625rem
  }
  .section-03__social {
    bottom: 2.5rem
  }
  .section-03__social {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .section-03__link svg {
    width: 5rem
  }
}
@media (max-width:90em) {
  .btn-next__arrow {
    width: 4.1875rem
  }
  .btn-next__arrow {
    height: 4.1875rem
  }
  .btn-next__icon {
    width: 2.625rem
  }
}
@media (max-width:90.06125em) and (min-height:62.56125em) {
  .section-03__video {
    max-height: 50vh;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
  }
}
@media (max-width:85.43625em) {
  .logo {
    width: 14.375rem
  }
  .section-01__hearts {
    max-width: 9.375rem
  }
  .section-03__sunflower {
    max-width: 3.75rem
  }
  .section-03__video {
    max-width: 56.25rem
  }
  .section-03__link svg {
    width: 4.375rem
  }
}
@media (max-width:68.81125em) {
  .section-03__ic {
    top: -9%;
    right: 1.25rem;
    -webkit-transform: rotate(31deg);
    transform: rotate(31deg)
  }
}
@media (max-width:56.31125em) and (max-height:30.06125rem) {
  .fp-section-0 .logo {
    left: 1.25rem;
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  .fp-section-2 .logo {
    opacity: 0
  }
  .section-01__hearts {
    right: 5%;
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  .section-01__sanych {
    left: 50%;
    -webkit-transform: translate(-30%,-50%);
    transform: translate(-30%,-50%)
  }
  .section-02__packs {
    padding: 0
  }
  .section-02__pack-01 .section-02__title {
    left: 85%
  }
  .section-02__pack-02 .section-02__title {
    left: 3.125rem;
    bottom: 0;
    -webkit-transform: translate(0,-100%);
    transform: translate(0,-100%);
    text-align: left
  }
  .section-02__pack.pack-01 {
    scale: 2;
    left: -30%;
    top: 40%
  }
  .section-02__pack.pack-02 {
    scale: 2
  }
  .section-03 .section-wrapper {
    padding-bottom: 10vh;
    padding-left: 5rem;
    padding-right: 5rem
  }
  .section-03__ic {
    opacity: 0
  }
  .section-03__social {
    opacity: 0;
    pointer-events: none
  }
}
@media (max-width:53.18625em) {
  .section-01 .section-wrapper {
    background-image: url(../img/bg-mobile.webp);
    background-repeat: no-repeat;
    background-size: cover
  }
  .section-01__tv {
    display: none
  }
  .section-01__table {
    display: none
  }
  .section-01__cat {
    -webkit-transform: scale(-1,1);
    transform: scale(-1,1);
    left: 0
  }
  .section-01__hearts {
    -webkit-transform: translate(0,20%);
    transform: translate(0,20%)
  }
  .section-01__sanych {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
  }
  .section-02__packs {
    padding: 6.25rem 0 6.25rem
  }
  .section-02__pack-01 .section-02__ellipse {
    right: 20%
  }
  .section-02__pack-01 .section-02__title {
    bottom: 50%;
    left: 80%
  }
  .section-02__pack-02 .section-02__ellipse {
    left: 20%
  }
  .section-02__pack-02 .section-02__title {
    bottom: 50%;
    left: 30%
  }
  .section-02__pack {
    scale: 1.3
  }
  .section-02__pack.pack-01 {
    left: -24%;
    top: 10%
  }
  .section-02__pack.pack-02 {
    right: -22%;
    top: -10%
  }
  .section-02__ellipse {
    width: 17.5rem;
    height: auto;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%)
  }
  .section-03__social {
    left: 50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    bottom: 3.125rem
  }
}
@media (max-width:53.18625em) and (min-height:62.56125em) {
  .section-01__hearts {
    -webkit-transform: translate(0,30%);
    transform: translate(0,30%)
  }
}
@media (max-width:48.06125em) {
  .title-main {
    line-height: .9
  }
  .section-03__video::after,
  .section-03__video::before {
    border-width: .375rem
  }
  .section-03__video::before {
    border-radius: 1.75rem
  }
  .section-03__video::after {
    border-radius: 1.375rem
  }
  .section-03__video::after {
    margin: .375rem
  }
  .section-03__video .video-youtube__body {
    margin: .75rem
  }
}
@media (max-width:30.06125em) {
  .fp-bullets {
    top: auto;
    bottom: 1.25rem;
    -webkit-transform: translate(50%,0);
    transform: translate(50%,0);
    flex-direction: row;
    right: 50%
  }
  .title-main {
    font-size: 1rem
  }
  .title-main span {
    font-size: 2.125rem
  }
  .title-main {
    text-shadow: -3px -3px 0 #692631,-3px -2px 0 #692631,-3px -1px 0 #692631,-3px 0 0 #692631,-3px 1px 0 #692631,-3px 2px 0 #692631,-3px 3px 0 #692631,-2px -3px 0 #692631,-2px -2px 0 #692631,-2px -1px 0 #692631,-2px 0 0 #692631,-2px 1px 0 #692631,-2px 2px 0 #692631,-2px 3px 0 #692631,-1px -3px 0 #692631,-1px -2px 0 #692631,-1px -1px 0 #692631,-1px 0 0 #692631,-1px 1px 0 #692631,-1px 2px 0 #692631,-1px 3px 0 #692631,0 -3px 0 #692631,0 -2px 0 #692631,0 -1px 0 #692631,0 0 0 #692631,0 1px 0 #692631,0 2px 0 #692631,0 3px 0 #692631,1px -3px 0 #692631,1px -2px 0 #692631,1px -1px 0 #692631,1px 0 0 #692631,1px 1px 0 #692631,1px 2px 0 #692631,1px 3px 0 #692631,2px -3px 0 #692631,2px -2px 0 #692631,2px -1px 0 #692631,2px 0 0 #692631,2px 1px 0 #692631,2px 2px 0 #692631,2px 3px 0 #692631,3px -3px 0 #692631,3px -2px 0 #692631,3px -1px 0 #692631,3px 0 0 #692631,3px 1px 0 #692631,3px 2px 0 #692631,3px 3px 0 #692631
  }
  .logo {
    top: 1.25rem
  }
  .section-01__cat {
    max-width: 18.75rem
  }
  .section-01__cat {
    left: -30%
  }
  .section-01__hearts {
    right: 5%;
    width: 7.5rem;
    -webkit-transform: translate(0,33%);
    transform: translate(0,33%)
  }
  .section-01__sanych {
    width: 130%;
    left: 47%;
    top: 53%
  }
  .section-02__packs {
    padding: 6.25rem 0 0
  }
  .section-02__pack-01 .section-02__ellipse {
    right: 8%
  }
  .section-02__pack-01 .section-02__title {
    left: 75%
  }
  .section-02__pack-02 .section-02__ellipse {
    left: 10%
  }
  .section-02__pack-02 .section-02__title {
    left: 1.25rem;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    text-align: left;
    width: 12.5rem
  }
  .section-02__pack.pack-01 {
    left: -20%
  }
  .section-02__pack.pack-02 {
    right: -20%
  }
  .section-03__video {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    max-height: 18.75rem
  }
  .section-03__ic {
    max-width: 6.25rem
  }
  .section-03__social {
    -webkit-column-gap: 1.5rem;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem
  }
}
@media (max-width:22.5em) {
  .btn-next__arrow {
    width: 4.0625rem
  }
  .btn-next__arrow {
    height: 4.0625rem
  }
  .btn-next__icon {
    width: 2.0625rem
  }
}
@media (max-width:0em) {
  .fp-bullets {
    right: 1.25rem
  }
}
@media (min-width:85.43625em) and (max-width:120em) {
  @supports (font-size:clamp(2.0625rem ,-0.2548551589rem + 2.7123792991vw ,3rem)) {
    .title-main {
      font-size: clamp(2.0625rem ,-.2548551589rem + 2.7123792991vw ,3rem)
    }
  }
  @supports not (font-size:clamp(2.0625rem ,-0.2548551589rem + 2.7123792991vw ,3rem)) {
    .title-main {
      font-size: calc(2.0625rem + .9375 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (font-size:clamp(4.375rem ,-0.7231813497rem + 5.9672344581vw ,6.4375rem)) {
    .title-main span {
      font-size: clamp(4.375rem ,-.7231813497rem + 5.9672344581vw ,6.4375rem)
    }
  }
  @supports not (font-size:clamp(4.375rem ,-0.7231813497rem + 5.9672344581vw ,6.4375rem)) {
    .title-main span {
      font-size: calc(4.375rem + 2.0625 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (top:clamp(2.25rem ,0.087135185rem + 2.5315540125vw ,3.125rem)) {
    .logo {
      top: clamp(2.25rem ,.087135185rem + 2.5315540125vw ,3.125rem)
    }
  }
  @supports not (top:clamp(2.25rem ,0.087135185rem + 2.5315540125vw ,3.125rem)) {
    .logo {
      top: calc(2.25rem + .875 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (width:clamp(14.375rem ,3.5606759249rem + 12.6577700626vw ,18.75rem)) {
    .logo {
      width: clamp(14.375rem ,3.5606759249rem + 12.6577700626vw ,18.75rem)
    }
  }
  @supports not (width:clamp(14.375rem ,3.5606759249rem + 12.6577700626vw ,18.75rem)) {
    .logo {
      width: calc(14.375rem + 4.375 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (max-width:clamp(21.25rem ,-30.9677362482rem + 61.1189468735vw ,42.375rem)) {
    .section-01__cat {
      max-width: clamp(21.25rem ,-30.9677362482rem + 61.1189468735vw ,42.375rem)
    }
  }
  @supports not (max-width:clamp(21.25rem ,-30.9677362482rem + 61.1189468735vw ,42.375rem)) {
    .section-01__cat {
      max-width: calc(21.25rem + 21.125 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (max-width:clamp(9.375rem ,-1.4393240751rem + 12.6577700626vw ,13.75rem)) {
    .section-01__hearts {
      max-width: clamp(9.375rem ,-1.4393240751rem + 12.6577700626vw ,13.75rem)
    }
  }
  @supports not (max-width:clamp(9.375rem ,-1.4393240751rem + 12.6577700626vw ,13.75rem)) {
    .section-01__hearts {
      max-width: calc(9.375rem + 4.375 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (max-width:clamp(3.75rem ,-5.5194206358rem + 10.8495171965vw ,7.5rem)) {
    .section-03__sunflower {
      max-width: clamp(3.75rem ,-5.5194206358rem + 10.8495171965vw ,7.5rem)
    }
  }
  @supports not (max-width:clamp(3.75rem ,-5.5194206358rem + 10.8495171965vw ,7.5rem)) {
    .section-03__sunflower {
      max-width: calc(3.75rem + 3.75 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (max-width:clamp(56.25rem ,25.3519312141rem + 36.1650573216vw ,68.75rem)) {
    .section-03__video {
      max-width: clamp(56.25rem ,25.3519312141rem + 36.1650573216vw ,68.75rem)
    }
  }
  @supports not (max-width:clamp(56.25rem ,25.3519312141rem + 36.1650573216vw ,68.75rem)) {
    .section-03__video {
      max-width: calc(56.25rem + 12.5 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (width:clamp(4.375rem ,2.8300965607rem + 1.8082528661vw ,5rem)) {
    .section-03__link svg {
      width: clamp(4.375rem ,2.8300965607rem + 1.8082528661vw ,5rem)
    }
  }
  @supports not (width:clamp(4.375rem ,2.8300965607rem + 1.8082528661vw ,5rem)) {
    .section-03__link svg {
      width: calc(4.375rem + .625 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
}
@media (min-width:30.06125em) and (max-width:85.43625em) {
  @supports (font-size:clamp(1rem ,0.4232040068rem + 1.9187358916vw ,2.0625rem)) {
    .title-main {
      font-size: clamp(1rem ,.4232040068rem + 1.9187358916vw ,2.0625rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.4232040068rem + 1.9187358916vw ,2.0625rem)) {
    .title-main {
      font-size: calc(1rem + 1.0625 * (100vw - 30.06125rem)/ 55.375)
    }
  }
  @supports (font-size:clamp(2.125rem ,0.9035496614rem + 4.0632054176vw ,4.375rem)) {
    .title-main span {
      font-size: clamp(2.125rem ,.9035496614rem + 4.0632054176vw ,4.375rem)
    }
  }
  @supports not (font-size:clamp(2.125rem ,0.9035496614rem + 4.0632054176vw ,4.375rem)) {
    .title-main span {
      font-size: calc(2.125rem + 2.25 * (100vw - 30.06125rem)/ 55.375)
    }
  }
  @supports (top:clamp(1.25rem ,0.7071331828rem + 1.8058690745vw ,2.25rem)) {
    .logo {
      top: clamp(1.25rem ,.7071331828rem + 1.8058690745vw ,2.25rem)
    }
  }
  @supports not (top:clamp(1.25rem ,0.7071331828rem + 1.8058690745vw ,2.25rem)) {
    .logo {
      top: calc(1.25rem + 1 * (100vw - 30.06125rem)/ 55.375)
    }
  }
  @supports (max-width:clamp(18.75rem ,17.3928329571rem + 4.5146726862vw ,21.25rem)) {
    .section-01__cat {
      max-width: clamp(18.75rem ,17.3928329571rem + 4.5146726862vw ,21.25rem)
    }
  }
  @supports not (max-width:clamp(18.75rem ,17.3928329571rem + 4.5146726862vw ,21.25rem)) {
    .section-01__cat {
      max-width: calc(18.75rem + 2.5 * (100vw - 30.06125rem)/ 55.375)
    }
  }
}
@media (min-width:90em) and (max-width:120em) {
  @supports (width:clamp(4.1875rem ,0.0625rem + 4.5833333333vw ,5.5625rem)) {
    .btn-next__arrow {
      width: clamp(4.1875rem ,.0625rem + 4.5833333333vw ,5.5625rem)
    }
  }
  @supports not (width:clamp(4.1875rem ,0.0625rem + 4.5833333333vw ,5.5625rem)) {
    .btn-next__arrow {
      width: calc(4.1875rem + 1.375 * (100vw - 90rem)/ 30)
    }
  }
  @supports (height:clamp(4.1875rem ,0.0625rem + 4.5833333333vw ,5.5625rem)) {
    .btn-next__arrow {
      height: clamp(4.1875rem ,.0625rem + 4.5833333333vw ,5.5625rem)
    }
  }
  @supports not (height:clamp(4.1875rem ,0.0625rem + 4.5833333333vw ,5.5625rem)) {
    .btn-next__arrow {
      height: calc(4.1875rem + 1.375 * (100vw - 90rem)/ 30)
    }
  }
  @supports (width:clamp(2.625rem ,0.0000000625rem + 2.9166666667vw ,3.5rem)) {
    .btn-next__icon {
      width: clamp(2.625rem ,.0000000625rem + 2.9166666667vw ,3.5rem)
    }
  }
  @supports not (width:clamp(2.625rem ,0.0000000625rem + 2.9166666667vw ,3.5rem)) {
    .btn-next__icon {
      width: calc(2.625rem + .875 * (100vw - 90rem)/ 30)
    }
  }
}
@media (min-width:22.5em) and (max-width:90em) {
  @supports (width:clamp(4.0625rem ,4.0208333333rem + 0.1851851852vw ,4.1875rem)) {
    .btn-next__arrow {
      width: clamp(4.0625rem ,4.0208333333rem + .1851851852vw ,4.1875rem)
    }
  }
  @supports not (width:clamp(4.0625rem ,4.0208333333rem + 0.1851851852vw ,4.1875rem)) {
    .btn-next__arrow {
      width: calc(4.0625rem + .125 * (100vw - 22.5rem)/ 67.5)
    }
  }
  @supports (height:clamp(4.0625rem ,4.0208333333rem + 0.1851851852vw ,4.1875rem)) {
    .btn-next__arrow {
      height: clamp(4.0625rem ,4.0208333333rem + .1851851852vw ,4.1875rem)
    }
  }
  @supports not (height:clamp(4.0625rem ,4.0208333333rem + 0.1851851852vw ,4.1875rem)) {
    .btn-next__arrow {
      height: calc(4.0625rem + .125 * (100vw - 22.5rem)/ 67.5)
    }
  }
  @supports (width:clamp(2.0625rem ,1.875rem + 0.8333333333vw ,2.625rem)) {
    .btn-next__icon {
      width: clamp(2.0625rem ,1.875rem + .8333333333vw ,2.625rem)
    }
  }
  @supports not (width:clamp(2.0625rem ,1.875rem + 0.8333333333vw ,2.625rem)) {
    .btn-next__icon {
      width: calc(2.0625rem + .5625 * (100vw - 22.5rem)/ 67.5)
    }
  }
}
@media (max-width:100.06125em) and (min-width:53.18625em) {
  .section-02__packs {
    padding: 3.75rem 0 3.75rem
  }
}
@media (min-width:48.06125em) and (max-width:120em) {
  @supports (border-width:clamp(0.375rem ,-0.4601071224rem + 1.7375892686vw ,1.625rem)) {
    .section-03__video::after,
    .section-03__video::before {
      border-width: clamp(.375rem ,-.4601071224rem + 1.7375892686vw ,1.625rem)
    }
  }
  @supports not (border-width:clamp(0.375rem ,-0.4601071224rem + 1.7375892686vw ,1.625rem)) {
    .section-03__video::after,
    .section-03__video::before {
      border-width: calc(.375rem + 1.25 * (100vw - 48.06125rem)/ 71.93875)
    }
  }
  @supports (border-radius:clamp(1.75rem ,-2.2585141874rem + 8.3404284895vw ,7.75rem)) {
    .section-03__video::before {
      border-radius: clamp(1.75rem ,-2.2585141874rem + 8.3404284895vw ,7.75rem)
    }
  }
  @supports not (border-radius:clamp(1.75rem ,-2.2585141874rem + 8.3404284895vw ,7.75rem)) {
    .section-03__video::before {
      border-radius: calc(1.75rem + 6 * (100vw - 48.06125rem)/ 71.93875)
    }
  }
  @supports (border-radius:clamp(1.375rem ,-1.6731409967rem + 6.3422008306vw ,5.9375rem)) {
    .section-03__video::after {
      border-radius: clamp(1.375rem ,-1.6731409967rem + 6.3422008306vw ,5.9375rem)
    }
  }
  @supports not (border-radius:clamp(1.375rem ,-1.6731409967rem + 6.3422008306vw ,5.9375rem)) {
    .section-03__video::after {
      border-radius: calc(1.375rem + 4.5625 * (100vw - 48.06125rem)/ 71.93875)
    }
  }
  @supports (margin:clamp(0.375rem ,-0.4601071224rem + 1.7375892686vw ,1.625rem)) {
    .section-03__video::after {
      margin: clamp(.375rem ,-.4601071224rem + 1.7375892686vw ,1.625rem)
    }
  }
  @supports not (margin:clamp(0.375rem ,-0.4601071224rem + 1.7375892686vw ,1.625rem)) {
    .section-03__video::after {
      margin: calc(.375rem + 1.25 * (100vw - 48.06125rem)/ 71.93875)
    }
  }
  @supports (margin:clamp(0.75rem ,-0.9202142448rem + 3.4751785373vw ,3.25rem)) {
    .section-03__video .video-youtube__body {
      margin: clamp(.75rem ,-.9202142448rem + 3.4751785373vw ,3.25rem)
    }
  }
  @supports not (margin:clamp(0.75rem ,-0.9202142448rem + 3.4751785373vw ,3.25rem)) {
    .section-03__video .video-youtube__body {
      margin: calc(.75rem + 2.5 * (100vw - 48.06125rem)/ 71.93875)
    }
  }
}
@media (min-width:30.06125em) and (max-width:120em) {
  @supports (max-width:clamp(6.25rem ,3.1164872622rem + 10.4237606149vw ,15.625rem)) {
    .section-03__ic {
      max-width: clamp(6.25rem ,3.1164872622rem + 10.4237606149vw ,15.625rem)
    }
  }
  @supports not (max-width:clamp(6.25rem ,3.1164872622rem + 10.4237606149vw ,15.625rem)) {
    .section-03__ic {
      max-width: calc(6.25rem + 9.375 * (100vw - 30.06125rem)/ 89.93875)
    }
  }
  @supports ((-moz-column-gap:clamp(1.5rem ,1.3746594905rem + 0.4169504246vw ,1.875rem)) or (column-gap:clamp(1.5rem ,1.3746594905rem + 0.4169504246vw ,1.875rem))) {
    .section-03__social {
      -webkit-column-gap: clamp(1.5rem ,1.3746594905rem + .4169504246vw ,1.875rem);
      -moz-column-gap: clamp(1.5rem ,1.3746594905rem + .4169504246vw ,1.875rem);
      column-gap: clamp(1.5rem ,1.3746594905rem + .4169504246vw ,1.875rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.5rem ,1.3746594905rem + 0.4169504246vw ,1.875rem)) or (column-gap:clamp(1.5rem ,1.3746594905rem + 0.4169504246vw ,1.875rem))) {
    .section-03__social {
      -webkit-column-gap: calc(1.5rem + .375 * (100vw - 30.06125rem)/ 89.93875);
      -moz-column-gap: calc(1.5rem + .375 * (100vw - 30.06125rem)/ 89.93875);
      column-gap: calc(1.5rem + .375 * (100vw - 30.06125rem)/ 89.93875)
    }
  }
}
@media (min-width:53.18625em) and (max-width:120em) {
  @supports (bottom:clamp(1.25rem ,0.2549531346rem + 1.8708723878vw ,2.5rem)) {
    .section-03__social {
      bottom: clamp(1.25rem ,.2549531346rem + 1.8708723878vw ,2.5rem)
    }
  }
  @supports not (bottom:clamp(1.25rem ,0.2549531346rem + 1.8708723878vw ,2.5rem)) {
    .section-03__social {
      bottom: calc(1.25rem + 1.25 * (100vw - 53.18625rem)/ 66.81375)
    }
  }
}
@media (any-hover:hover) {
  .fp-bullets .fp-bullet:hover {
    opacity: 1
  }
  .section-03__link:hover {
    -webkit-transform: translateY(-.3125rem);
    transform: translateY(-.3125rem)
  }
  .section-03__link:hover svg .svg-bg {
    fill: #fcda01
  }
}
@media (max-height:em(460)) {
  .btn-next {
    bottom: 1.25rem
  }
}